<mat-card>
    <h1>Login Form</h1>
    <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()" >
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="example:you@you.com"
                [(ngModel)] = email
                name = email
                required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password"
                [(ngModel)] = password
                name = password
                type = "password"
                required>
            </mat-form-field>
        </p>
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!loginForm.form.valid">
                    Login
            </button>
        </div>
        <p *ngIf = "isError">{{errorMessage}}</p>
    </form>
</mat-card>