<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/books" routerLinkActive="active">Books</a> <!-- הוספנו קישור לראוט -->
      <a mat-list-item [routerLink]="['/temperatures','London']" routerLinkActive="active">Temperatures</a> <!-- הוספנו קישור לראוט - בהראאה 4 הוספנו שינויים לראוט כדי שיהיה ראוט עם פרמטר חובה -->
      <a mat-list-item [routerLink]="['/classify','bbc']" routerLinkActive="active">Classify</a> <!-- תרגיל בית 4 הוספת פרמטר חובה -->
      <a mat-list-item routerLink="/posts" routerLinkActive="active">Posts</a> <!--תרגיל בית 6-->
      <!-- <a mat-list-item href="#">Link 3</a> --> 
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hello</span> <!--הכותרת בתפריט העליון-->
      <span class="spacer"></span><!-- כדי שיהיה מרווח בין הלינקים לכותרת הלו-->
      <a class="whitelink" routerLink="/signup"  *ngIf = "!(authService.getUser() | async)">Sign-Up</a><!--נוסיף קישור שיוביל לקומפוננט הרשמה -נוסף נוסיף שיהיה גלוי רק אם לא מחוברים  הרצאה 8--> 
      <a class="whitelink" routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a><!--נוסיף קישור שיוביל לקומפוננט התחברות -נוסף נוסיף שיהיה גלוי רק אם לא מחוברים הרצאה 8-->
      <a class="whitelink1" (click) = "authService.logout()" *ngIf = "(authService.getUser() | async)">LogOut</a><!--נוסיף קישור שיוביל ללוג אווט בגלל שאין ללוג אווט קומפוננט שאפשר לקשר אליו נעשה ככה - בנוסף נוסיף שיהיה גלוי רק שמחוברים -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet> <!-- הוספנו -->
  </mat-sidenav-content>
</mat-sidenav-container>