<label id="example-radio-group-label">Pick your favorite channel</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="bbc">
  <mat-radio-button class="example-radio-button" *ngFor="let bbc of bbcs" [value]=bbc>
    {{bbc}}
  </mat-radio-button>
</mat-radio-group>
<div *ngIf="bbc != 'cnn' && bbc != 'bbc' && bbc != 'nbc' ; then warning"></div>
<ng-template #warning> warning - please choose 'cnn', 'bbc' or 'nbc'</ng-template>
<div *ngIf="bbc == 'cnn' || bbc == 'bbc' || bbc == 'nbc' ; then sucsses"></div>
<ng-template #sucsses > Your favorite channel is: {{bbc}} </ng-template>

