<!--ואם אין שגיאה בדיקה האם הנתונים לא הגיעו-->
<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data...</p>
<mat-card class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header"></div>-->
      <mat-card-title *ngIf = "!hasError">Temperature in {{city}} is {{(weatherData$ | async).temperature | number:'1.0-0'}}º</mat-card-title>
      <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
      <mat-card-subtitle *ngIf = "!hasError">{{country}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf = "!hasError">Longitude : {{lon}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf = "!hasError">Latitude : {{lat}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf = "!hasError"><img [src]="image"></mat-card-subtitle>
    </mat-card-header>
    <a routerLink="/city" routerLinkActive="active">Select city</a>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>