<p *ngIf = "!(postsData$ | async)&&!hasError">Loading data...</p> <!--יוצג למתשמש עד שהנתונים יגיעו-->
<mat-accordion> <!--ץפריט אקורדיון-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of postsData$ | async"> <!--לולאה של פוסטים, ונרשם לאובסרבל מתוך הטייפלייט-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p>{{post.body}}</p>
    </mat-expansion-panel>
  </mat-accordion>

