.mat-form-field + .mat-form-field {  /* כדי ליישר את האלמנטים בדף */
    margin-left: 8px;
  }

  mat-panel-description {
      text-align: left;
      width:400px;
  }

  mat-panel-title {
      width:400px;
  }
  